<div class="profile-card">
    <div class="avatar-name">
       <img src="avatar_network.webp" alt="avatar" class="profile-card-avatar">
       <div class="profile-card-name">
           <strong class="h6">Gosling</strong>
           <span class="subtitle">gosling</span>
       </div>
    </div>

    <div class="profile-card-description">
        some text about gosling 
    </div>

    <div class="profile-card-tags">
        <div class="skil-tag">
            Angular
        </div>
    </div>

    <div class="profile-card-action-btns">
        <button class="btn">Follow</button>
    </div>

</div>
